{% extends 'poll/base.html' %}
{% block content %}
    <div class="alert alert-danger text-center">
        <h3 class="alert-heading">{{ fail }}</h3>
    </div>
    <div class="text-center">
        <button onclick="location.href='/'" type="button" >Home</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button onclick="location.href='/register'" type="button" >Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button onclick="location.href='/login'" type="button" >Vote</button><br>
    </div>
{% endblock content %}